<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vente d'oeuf de plusieurs races, sur une production locale.">
  <meta name="keywords" content="Poule, Oeuf, Local, Lozère">
  <meta name="author" content="Bonnal Nathaël">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <title>Poule - Bonnal</title>
  @entryPointStyles('app')
  @entryPointScripts('app')
</head>
<body class="">
<div class="bg-white flex flex-col">


  <!--
    Mobile menu

    Off-canvas menu for mobile, show/hide based on off-canvas menu state.
  -->


  <header class="relative overflow-hidden">
    <!-- Top navigation -->
    @!component('components/navbar')
    @!section('header')
    <!-- Hero section -->

  </header>

  <main class="min-h-[88vh]">
    <!-- Category section -->



    <!-- CTA section -->
    @!section('content')
  </main>

  @!component('components/footer')
</div>

</body>
</html>
